* {
    border: 1px solid red;
}

body {
    background: url(./assets/images/rails.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    opacity: 0.75;
    font-weight: bold;
}

.jumbotron {
    background-color: darkgreen;
    opacity: .75;
    font-family: 'Baloo', cursive;
    margin-top: -75px;
    padding-bottom: -75px;
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

.card-header {
    font-family: 'Baloo', cursive;
    font-size: 25px;
    padding-top: 15px;
    background-color: darkgreen;
}

.jumbo {
    font-family: 'Baloo', cursive;
    font-size: 25px;
    background-color: darkgreen;
}

.jumbo {
    font-family: 'Baloo', cursive;
    font-size: 25px;
    background-color: darkgreen;
    color: white;
}

.col {
    color: darkgreen;
}

.dynamic-freq {
    margin-left: 10px;
}